* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

nav {
    background-color: #e44d88;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

nav a {
    color: #fff;
    margin: 0 15px;
    font-weight: bold;
}

.card {
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden; /* Garante que as bordas arredondadas se apliquem corretamente */
}

.card img {
    border-bottom: 1px solid #ddd; /* Linha divisória abaixo da imagem */
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    color: #555;
}

.btn-primary {
    background-color: #e44d88;
    border-color: #e44d88;
}

.btn-primary:hover {
    background-color: #d1306b;
    border-color: #d1306b;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #ff87ab;
    text-align: center;
    border-radius: 10px;
}
